<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="SupabaseUrl" value="https://aktxszoizvolmkrgodtb.supabase.co" />
        <add key="SupabaseAnonKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrdHhzem9penZvbG1rcmdvZHRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxMDg0NjksImV4cCI6MjA3NDY4NDQ2OX0.GaOosjIn-yXBe6l5IChnGMLDtCjVgzgHWUZ-H4AA7u8" />
    </appSettings>
</configuration>